body, html { padding: 0; margin: 0; }

.main {
    width: 1024px;
    height: 768px;
    color: #212121;
    font-family: Helvetica, Georgia, sans-serif;
}

.column {
    float: left;
}

.sensor-column {
    width: 180px;
    height: 768px;
    background: #eee;
}

.sensor-output {
    margin: 2px;
    background: white;
    text-align: center;
}

.engine-controls {
    background-color: #eee;
}

.sensor-output .header {
    font-size: 10px;
    background-color: #eee;
    line-height: 15px;
    letter-spacing: 2px;
}

.sensor-output .value {
    line-height: 20px;
    font-size: 13px;
}

.main-column {
    width: 640px;
}

.vertical-control {
    -webkit-appearance: slider-vertical;
    width: 20px;
    height: 500px;
    margin-top: 10px;
}

.control-column {
    width: 204px;
    text-align: center;
    height: 768px;
    background: #eee;
}

.engine-control {
    float: left;
    width: 100px;
    padding-top: 10px;
    background: white;
}

output {
    background: #eee;
    text-align: center;
    padding: 2px;
    font-size: 11px;
    display: block;
    position: relative;
    width: 50px;
    line-height:20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: #7F7F7F solid 1px;
    left: 25px;
}

output:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #eeeeee transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -5px;
    left: 20px;
}

output:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -6px;
    left: 20px;
}

#map-canvas {
    width: 640px;
    height: 480px;
    margin: 0px;
    padding: 0px
 }

 /* Tabs */
 .tabs-menu ul {
    height: 30px;
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
}

.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}

.tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.tabs-menu .current a {
    color: #2e7da3;
}

.tab-content {
    border-top: 1px solid #d4d4d1;
    width: 100%;
    display: none;
    clear: left;
}

#tab-1 {
    display: block;
}
